
body {
    background-color: beige;
}

#box {
    width: 500px;
    margin: 0 auto;
    text-align: center;
}

#box h1 {
    font-size: 50px;
    color: cadetblue;
    font-weight: bold;
    font-family: arial;
    margin-top: 50px;
}