
$color1: rgb(255, 255, 255);
$colorText: rgb(90 180 255); 

$color90: #dcefff;
$color100: #586875;

//Cores das tags:
$tagBlueOne: #6dccff;
$tagBlueTwo: #08a9ff;
$tagBlueThree: #007cbf;
$tagBlueTextColor: #002b42; 

$tagYallowOne: #fff874;
$tagYallowTwo: #fff645;
$tagYallowThree: #f7eb00;
$tagYallowTextColor: #6c6700;

$tagRedOne: #ff7d7d;
$tagRedTwo: #ff4c4c;
$tagRedThree: #ff4747;
$tagRedTextColor: #4a0000;

$tagOrangeOne: #ffcb60;
$tagOrangeTwo: #ffbf3b;
$tagOrangeThree: #ffac00;
$tagOrangeTextColor: #483000;

$tagPurpleOne: #cdaaff;
$tagPurpleTwo: #a96cff;
$tagPurpleThree: #9041ff;
$tagPurpleTextColor: #360083;

$tagTextWhite: #fff;

// nothing here for now...