
#header {
    width: 100%;
    min-height: 400px;
    padding-bottom: 50px;
    // background-color: rgb(31, 31, 31);
    background: rgb(31,31,31);
    background: linear-gradient(130deg, rgba(31,31,31,1) 0%, rgba(71,71,71,1) 35%, rgba(31,31,31,1) 100%);
    // background: rgb(99,115,129);
    // background: linear-gradient(130deg, rgba(99,115,129,1) 0%, rgba(130,158,180,1) 47%, rgba(99,115,129,1) 100%);
}