
.tag-blue {
    background-color: $tagBlueOne;
    color: $tagBlueTextColor;
}
.tag-yallow {
    background-color: $tagYallowOne;
    color: $tagYallowTextColor;
}
.tag-red {
    background-color: $tagRedOne;
    color: $tagRedTextColor;
}
.tag-orange {
    background-color: $tagOrangeOne;
    color: $tagOrangeTextColor;
}
.tag-purple {
    background-color: $tagPurpleOne;
    color: $tagPurpleTextColor;
}