
@import '_colors';
@import '_headers';

//Compoments
@import '_tags';

@import '_header';
@import '_footer';

// Partiais
@import 'partial/form-page-contact';
@import 'partial/formation-page';
@import 'partial/articles';

body {
    background-color: $color1;
    margin: 0;
    color: white;
    font-family: arial;
}

#box {
    width: 500px;
    margin: 0 auto;
    text-align: center;
    min-height: 220px;
}

#box h1 {
    font-size: 50px;
    color: $colorText;
    font-weight: bold;
    margin-top: 50px;
}

#header {

    .photo-dev {

        margin: 60px auto 0;
        width: 220px;
        height: 220px;
        border: 10px solid #212529;
        border-radius: 60px;

        img {
            width: 200px;
            height: 200px;
            border-radius: 50px;
            object-fit: cover;
        }
    }

}