
#my-articles {
    background-color: #dcefff;
    color: #003e72;
    padding-top: 100px;
    padding-bottom: 100px;
}

.article {

    img {
        height: 160px;
        width: 100%;
        object-fit: cover;
        margin-bottom: 20px;
    }

    .article-read-more {
        border-radius: 0;
        background-color: #586875;
        border: 1px solid #00204e;
    }


}