
#my-articles {
    // background-color: #dcefff;
    background: rgb(132,199,255);
    background: linear-gradient(
        130deg, 
        rgba(132,199,255,1) 0%,
        rgba(220,239,255,1) 35%,
        rgba(154,206,250,1) 100%);

    // background: rgb(93,182,255);
    // background: linear-gradient(130deg, rgba(93,182,255,1) 0%, rgba(204,231,254,1) 35%, rgba(131,186,233,1) 100%);

    color: #003e72;
    padding-top: 100px;
    padding-bottom: 100px;
}

.article {

    img {
        height: 160px;
        width: 100%;
        object-fit: cover;
        margin-bottom: 20px;
    }

    .article-read-more {
        border-radius: 0;
        background-color: #586875;
        border: 1px solid #00204e;
    }

}

#my-articles {

    hr {
        border-bottom: 2px solid #0066bd;
        margin-bottom: 50px;
    }
    
    .btn-see-all {
        
        margin: 0 auto;
        background-color: #be4140;
        border-color: #8f0100;
        padding: 10px 40px;
        
        &:hover, &:focus {
            background-color: #ef4444;
            border-color: #c01818;
        }
        
    }

}