
#form-page-contact {

    background-color: $color90;
    padding-top: 140px;
    padding-bottom: 350px;

    label.form-label {
        font-size: 20px;
        color: #000;
    }
    
    input[type=text], input[type=tel], input[type=email], textarea {
        border: 2px solid #000;
        border-radius: 0;
    }
    
    textarea {
        height: 200px;
        max-height: 200px;
        resize: none;
    }

}
